.menu {
  // border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  padding-bottom: 2em;
}
.title {
  display: flex;
  gap: 2em;
  padding-bottom: 1em;
  
  h2 {
    border: 1px solid black;
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
    &:hover {
      background: lightgrey;
    }
  }
  &__activeTab {
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
  }
  
  &__inactiveTab {
    color: gray;
    font-weight: normal;
    border-bottom: none;
  }
}
