@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.cart {
  font-family: "Archivo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    background-color: rgba(145, 60, 4, 0.568);

    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8em;
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    @media (max-width: 490px) {
      gap: 1em;
    }

    &__name {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__logo {
    font-size: 5em;
  }
  &__items {
    display: flex;
    align-items: center;
    img {
      width: 50px;
    }
    &__price {
      padding-left: 1em;
      
    }
  }
  button {
    width: 100%;
    border-radius: 25px;
    background: red;
    color: white;
    height: 2.5em;
    font-size: 18px;
  }
  &__content {
    border: 1px solid black;
    margin: 10em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgba(145, 60, 4, 0.568);

    @media (max-width: 785px) {
      width: 50%;
    }
    @media (max-width: 490px) {
      width: 50%;
      margin: 5em;
    }
    @media (max-width: 490px) {
      margin: 20px;
      width: 70%;
    }
    &__cart {
        h1 {
            margin-top: 1em;
        }
    }
    &__total {
        margin-top: 1em;
    }
  }
}
